/* German umlauts */

ZMK_UNICODE_PAIR(   de_ae,      N0, N0,  E, N4,    N0, N0,  C, N4)
ZMK_UNICODE_PAIR(   de_oe,      N0, N0,  F, N6,    N0, N0,  D, N6)
ZMK_UNICODE_PAIR(   de_ue,      N0, N0,  F,  C,    N0, N0,  D,  C)
ZMK_UNICODE_SINGLE( de_eszett,  N0, N0,  D,  F)

/* Other */

ZMK_UNICODE_SINGLE(euro_sign, N2, N0, A, C)
ZMK_UNICODE_SINGLE(ett_sign, N0, N0, N4, N0)
ZMK_UNICODE_SINGLE(check_sign, N2, N7, N1, N4)
ZMK_UNICODE_SINGLE(check_ex, N2, N7, N1, N7)

ZMK_UNICODE_SINGLE(arr_l, N2, N1, N9, N0)
ZMK_UNICODE_SINGLE(arr_r, N2, N1, N9, N2)
ZMK_UNICODE_SINGLE(arr_u, N2, N1, N9, N1)
ZMK_UNICODE_SINGLE(arr_d, N2, N1, N9, N3)

ZMK_UNICODE_SINGLE(dot_m, N0, N0, B, N7)
ZMK_UNICODE_SINGLE(tri_r, N2, N5, B, N8)
