/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/international_chars/german.dtsi"
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
        &kp ESC  &kp C_PP  &kp C_NEXT  &kp C_VOL_DN  &kp C_VOL_UP  &kp BACKSPACE                           &kp N6         &kp N7     &kp N8   &kp N9     &kp N0        &kp MINUS
        &kp TAB     &kp Q       &kp W         &kp E         &kp R          &kp T                            &kp Z          &kp U      &kp I    &kp O      &kp P    &kp BACKSPACE
 &kp LEFT_SHIFT     &kp A       &kp S         &kp D         &kp F          &kp G                            &kp H          &kp J      &kp K    &kp L   &kp SEMI  &kp RIGHT_SHIFT
         &tog 1     &kp Y       &kp X         &kp C         &kp V          &kp B   &kp LCMD   &kp RCMD      &kp N          &kp M  &kp COMMA  &kp DOT  &kp MINUS            &mo 2
                                          &kp LCTRL  &kp LEFT_ALT      &kp ENTER  &kp SPACE  &kp SPACE  &kp ENTER  &kp RIGHT_ALT  &kp RCTRL
            >;
        };

        lower_layer {
            bindings = <
 &trans  &trans          &trans          &trans           &trans  &trans                  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans  &trans
 &trans  &trans          &trans    &kp UP_ARROW           &trans  &trans                  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans  &trans  &trans
 &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans                  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans  &trans  &trans
 &trans  &trans          &trans          &trans           &trans  &trans  &trans  &trans        &trans  &kp NUMBER_0        &trans  &trans  &trans  &trans
                                         &trans           &trans  &trans  &trans  &trans        &trans        &trans        &trans
            >;
        };

        raise_layer {
            bindings = <
 &trans    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                  &kp NUMBER_6      &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &trans
 &trans          &trans        &trans        &trans        &trans        &trans                        &trans  &kp LEFT_BRACKET        &trans      &kp SEMI        &trans  &trans
 &trans  &kp APOSTROPHE        &trans        &trans        &trans        &trans                        &trans            &trans        &trans        &trans        &trans  &trans
 &trans          &trans        &trans        &trans        &trans        &trans  &trans  &trans        &trans            &trans        &trans        &trans        &trans  &trans
                                             &trans        &trans        &trans  &trans  &trans        &trans            &trans        &trans
            >;
        };
    };
};
